{
  "settings": {
    "import/resolver": {
      "alias": [
        ["~components", "./src/components"],
        ["~sections", "./src/sections"],
        ["~pages", "./src/pages"],
        ["~styles", "./src/styles"]
      ]
    }
  }
}