@function palette($colorName) {
  $colors: (
    "primary": #FA981D,
    "secondary": #bbb,
    "paper": #eee,
    "text": #333,
    "icon": #888,
    "link": #666,
    "background": #fff,
    "shade": rgba(#aaa, .5),
    "shadow": rgba(#000, .2),
    "overlay": rgba(white, .5)
  );

  @return map-get($colors, $colorName);
};

@function spacing($number) {
  @return #{($number * 10)}px
}

@function size($name) {
  $sizes: (
    "nav-height": spacing(6),
    "footer-height": spacing(6),
    "min-width": 320px,
    "block-width": 320px,
  );
  @return map-get($sizes, $name);
}

@function zIndex($index) {
  $indexes: (
    "navbar": 1000
  );
  @return map-get($indexes, $index);
}

@function ani($param) {
  $params: (
    "duration": .5s
  );
  @return map-get($params, $param);
}

@mixin debug($color: red) {
  border: solid 1px $color;
}

.debug {
  border: solid 1px red !important;
}

.backdrop {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: palette('overlay');
    transition: background ani(duration)*2 ease;
    z-index: 2;
  }
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded {
  border-radius: 99em;
}