@import '~styles/_variables';

.columns {
  display: flex;
  flex-direction: column;
  padding: spacing(1);

  &.desktop {
    flex-direction: row;
  }
}

.column {
  flex: 1;
  margin: spacing(1);

  &.center {
    text-align: center;
  }
}