@import '~styles/_variables';
@import '~styles/_animations';

$footer-height: size('nav-height');
$color-border: palette('secondary');

$color-background: palette('background');
$color-icon: palette('icon');
$color-icon-hover: palette('primary');
$color-shadow: palette('shadow');

$footer-height: calc(100vh - #{size('footer-height')});
$footer-height-up: calc(-1 * (100vh - #{size('footer-height')}));
$grid-height: calc(100vh - #{spacing(8)});

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: solid 1px $color-border;
  background: $color-background;
  z-index: zIndex(navbar);
  
  transition:
    transform ani(duration) ease,
    background ani(duration)*2 ease,
    box-shadow ani(duration) linear;
  // transform: translate(0, calc(100% - #{size(footer-height)}));

  &.showGrid {
    transform: translate(0, calc(-100vh + #{spacing(15.5)}));
    z-index: zIndex('navbar') + 1;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: zIndex(navbar) - 1;
      width: 100vw;
      height: 100vh;
      background: $color-shadow;
      transform: translate(0, -100%);
      animation: fadeIn ani(duration) ease forwards;
    }
  }

  &.hide {
    transform: translate(0, size(footer-height));
  }

  // &.ios {
  //   width: spacing(7);
  //   top: auto;
  //   left: auto;
  //   bottom: 0;
  //   right: 0;
  //   background: none;
  //   border: none;
  //   transform: translate(0, 0);

  //   & .header {
  //     height: spacing(20);
  //     flex-direction: column;
  //     align-items: center;
  //     background: $color-background;

  //     & .icon {
  //       background: $color-background;
  //     }
  //   }
  // }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: spacing(2);
}

.icon {
  margin: 0 spacing(1.5);
  color: $color-icon;
  cursor: pointer;

  &:hover {
    color: $color-icon-hover;
  }
}

.homeIcon {
  position: absolute;
  right: 0;
  top: 0;
  margin: spacing(2.5);
  transform: scale(1.4);
}

.grid {
  position: absolute;
  max-height: $grid-height;
  display: flex;
  flex-wrap: wrap;
  padding: spacing(1);
  padding-bottom: spacing(8);
  overflow-x: hidden;
  overflow-y: auto;
  border-top: solid 1px $color-border;
  background: $color-background;
}

.Thumbnail {
  position: relative;
  margin: spacing(1);
  width: calc(50% - #{spacing(2)});
  cursor: pointer;
  // @extend .debug;
  
  &.desktop {
    width: calc(33.33% - #{spacing(2)});
  }

  img {
    max-width: 100%;
  }

  @extend .backdrop;

  &:before {
    transition: opacity .2s ease;
  }

  &:hover {
    &:before {
      opacity: 0;
    }
  }
}