@import '~styles/_variables';

$footer-height: size('nav-height');
$color-border: palette('secondary');

$color-background: palette('background');
$color-icon: palette('icon');
$color-icon-hover: palette('primary');

$footer-height: calc(100vh - #{size('footer-height')});
$footer-height-up: calc(-1 * (100vh - #{size('footer-height')}));
$grid-height: calc(100vh - 80px);

footer {
  position: fixed;
  left: 0;
  top: $footer-height;
  width: 100%;
  height: 100vh;
  border-top: solid 1px $color-border;
  background: $color-background;
  z-index: zIndex(navbar);

  transition: transform ani(duration) ease, background ani(duration)*2 ease;
  transform: translate(0, 0);

  &.showGrid {
    transform: translate(0, #{$footer-height-up});
    z-index: zIndex('navbar') + 1;
  }

  &.hide {
    transform: translate(0, size(footer-height));
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: spacing(2);
  border-bottom: solid 1px $color-border;
  cursor: pointer;

  &:hover .icon {
    color: $color-icon-hover;
  }
}

.icon {
  margin: 0 spacing(1.5);
  color: $color-icon;
}

.homeIcon {
  position: absolute;
  right: 0;
  top: 0;
  margin: spacing(2.5);
  transform: scale(1.4);
}

.grid {
  max-height: $grid-height;
  display: flex;
  flex-wrap: wrap;
  padding: spacing(1);
  padding-bottom: spacing(3);
  overflow-x: hidden;
  overflow-y: auto;
}

.Thumbnail {
  position: relative;
  margin: spacing(1);
  width: calc(50% - #{spacing(2)});
  cursor: pointer;
  // @extend .debug;
  
  &.desktop {
    width: calc(33.33% - #{spacing(2)});
  }

  img {
    max-width: 100%;
  }

  @extend .backdrop;

  &:before {
    transition: opacity .2s ease;
  }

  &:hover {
    &:before {
      opacity: 0;
    }
  }
}