@import '~styles/_variables';
@import '~styles/_animations';

$color-text: palette("text");
$color-border: palette("secondary");
$color-background: palette("background");

$color-link: palette("link");
$color-link-hover: palette("primary");
$color-link-active: palette("text");
$color-link-active-border: palette("primary");

$color-icon: palette("icon");

.root {
  position: relative;
  margin-bottom: spacing(2);
  z-index: zIndex(navbar);
  // @extend .debug;
}

.navbar {
  height: size('nav-height');
  padding: 0 spacing(2);
  border-bottom: solid 1px $color-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // transition: height ani("duration") ease, padding ani("duration") ease;
  transition: transform ani(duration) ease, background ani(duration)*2 ani(duration) ease;
  background: $color-background;

  &.hide {
    overflow: hidden;
    // height: 0;
    // padding-top: 0;
    // padding-bottom: 0;
    border: none;
    transform: translate(0, -100%);
  }
}

.brand {
  flex: auto;
  text-align: right;
  // @extend .debug;

  &.center {
    text-align: center;
  }
}

.logo {
  max-width: 100%;
  margin-top: -6px;
}

.items {
  min-width: 180px;
  flex: auto;
  // @extend .debug;
}

.item {
  font-size: 1.2rem;
  color: $color-link;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 spacing(1);

  &:hover {
    color: $color-link-hover;
  }

  &.active {
    @extend .item;
    color: $color-link-active;
    position: relative;
  
    &:after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -2px;
      border-bottom: solid 2px $color-link-active-border;
      animation: scaleHorizontal ani("duration") ease-out forwards;
    }
  }
}

.hamburger {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: block;
  width: spacing(4);
  height: spacing(4);
  padding: 0;
  border: none;
  background: $color-background;
  transition: transform ani("duration") ease-in-out;
  transform-origin: center center;
  cursor: pointer;
  // @extend .debug;

  > span {
    display: block;
    width: spacing(2);
    margin: spacing(0.5) spacing(1);
    border-bottom: solid 1px $color-icon;
    transition: transform ani("duration") .15s ease-in-out;

    &:nth-child(1) {
      transform-origin: top left;
    }
    &:nth-child(2) {
      transform-origin: center;
    }
    &:nth-child(3) {
      transform-origin: bottom left;
    }
  }

  &.close {
    bottom: 2px;
    transform: scale(2) translate(-9px, 9px);

    > span:nth-child(1) {
      transform: translate(2px, 1px) rotate(45deg);
    }
    > span:nth-child(2) {
      transform: scale(0, 1);
    }
    > span:nth-child(3) {
      transform: translate(2px, 3px) rotate(-45deg);
    }
  }
}

.dropdown {
  flex: none;
  overflow: hidden;
  width: 100vw;
  height: 0;
  opacity: 0;
  background: $color-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height ani("duration") ease-in-out, opacity .2s linear;

  .item {
    margin: spacing(1) 0;
  }
  // @extend .debug;

  &.show {
    height: calc(100vh - #{size('nav-height')} - #{spacing(5)});
    opacity: 1;
  }
}