@import '~styles/_variables';
@import '~styles/_animations';

$color-icon: palette("background");
$color-background: palette("background");
$color-icon-background: palette("secondary");
$color-hover: palette("primary");
$color-shadow: palette("shadow");

.Videos {
  &.desktop {
    display: flex;
    align-items: center;
    width: calc(100vw - #{spacing(2)});
    height: calc(100vh - 170px);
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0 spacing(1);
    scroll-snap-type: x mandatory;
    transition: height ani(duration) ease, transform ani(duration) ease;

    &.fullscreen {
      height: 100vh;
      transform: translate(0, -80px);
      // margin-top: spacing(-2);
      overflow: hidden;
    }
    // @extend .debug;
  }
}

.root {
  position: relative;

  &.desktop {
    display: flex;
    align-items: center;
    max-height: calc(100vh - #{spacing(13)});
    scroll-snap-align: start;
    transition: max-height ani("duration") ease;

    &.fullscreen {
      max-width: none;
      max-height: 100vh;
    }
  }
}

.player {
  position: relative;
}

.Video {
  flex: none;
  width: 100%;
  transition: height ani("duration") ease;

  &.desktop {
    width: calc(100vw - #{spacing(4)});
    margin: 0 spacing(1);

    &.fullscreen {
      margin: 0;
      width: calc(100vw - #{spacing(2)});
      height: calc(100vh - #{spacing(2)});
    }
  }

}

.playButton {
  @extend .flex-centered;
  @extend .rounded;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-icon;
  background: $color-icon-background;
  width: spacing(10);
  height: spacing(10);
  box-shadow: 0 0 0 10px rgba(black, .3);
  cursor: pointer;
  z-index: 3;

  &:hover {
    background: $color-hover;
  }
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;
  background: $color-icon;
  padding: spacing(2);
  box-shadow: 0 10px 0 $color-shadow;
  
  cursor: pointer;

  &:hover {
    background: $color-hover;
    
    path {
      stroke: $color-icon;
    }
  }
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.info {
  overflow: hidden;
  padding: spacing(2);
  
  &.desktop {
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 0;
    margin: spacing(4) 0;
    padding: spacing(2);
    width: size('min-width');
    background: $color-background;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    box-shadow: 0 10px 0 $color-shadow;

    &:hover {
      svg {
        background: $color-hover;
        border-radius: 99em;
        path {
          fill: $color-icon;
        }
      }
    }
  }

  .infoTitle {
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;

    > span {
      flex: auto;
      line-height: 1.6rem;
      font-weight: normal;      
      margin-right: spacing(1);
    }

    > svg {
      flex: none;
    }
  }

  .description {
    line-height: 1.4rem;
    color: palette("text");
  }

  &.desktop {
    .description {
      transition: max-height ani("duration") ease-in-out, margin-top ani("duration") ease-in-out;
      max-height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
  
      &.open {
        margin-top: spacing(2);
        max-height: 500px;
      }
    }
  }
}
